html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #FFFFFF;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Poppins', sans-serif;
    width: auto;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    padding-left: 30px;
    font-size: 120px;
    color: #292929;
}

h2 {
    font-family: 'Poppins';
    font-weight: 500;
    padding-left: 30px;
    font-size: 40px;
    color: #292929;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 810px;
    background: url(images/header_bac.png) no-repeat;
    background-size: contain;
    background-position: right top;
}

.header-container {
    margin-top: 150px;
    margin-left: 60px;
}

.header-container img {
    margin-right: -60px;
    width: 100%;
}

.header-img {
    margin-left: -120px;
}

.container {
    background: url(images/container-1-1.png) no-repeat;
    background-position: right;
    height: 800px;
}

.container-title {
    font-size: 125px;
    line-height: 1;
    background: none;
    margin-bottom: 130px;
}

.container-link {
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 10px;
}

.container-link a {
    text-decoration: none;
    font-size: 30px;
    color: #292929;
    background: #ebebeb;
    padding: 5px 20px;
    border-radius: 40px;
}

.cli {
    margin-top: 20px;
}

.link-inst {
    padding: 5px 70px 5px 20px !important;
}

.payment {
    background: url(images/peyment_bac.png) no-repeat;
    background-size: 100%;
    height: 900px;
    padding-top: 280px;
    margin-top: -90px;
}

.payment h1 {
    text-align: center;
    line-height: 1;
    background: none;
}

.payment .payment-desc {
    margin: 0;
    font-size: 100px;
    text-align: center;
}

.payment p {
    font-size: 27px;
    text-align: right;
    margin-top: 100px;
}

.container_2 {
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: url(images/container2_bac.png) no-repeat;
    background-size: 100%;
    padding: 30px;
    opacity: 0.7;
}

.container_2 h1 {
    line-height: 1;
    font-size: 90px;
    background: none;
    color: #FFF;
    text-shadow: #000000 0 0 10px;
}

.container_2 h1 img {
    width: 80px;
    vertical-align: bottom;
}

.container_3 {
    display: flex;
    justify-content: space-between;
    background: url(images/container_3.png) no-repeat;
    background-position: center;
    background-size: auto;
}

.container_3 p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 37px;
    color: #292929;
}

.container_3_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_3_1_desc_2 {
    margin-left: 90px;
}

.container_3_1_desc_3 {
    margin-left: 40px;
}

.container_3_2 {
    width: 300px;
    text-align: center;
}

hr {
    width: 40%;
}

.container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    height: 800px;
    background: #282828;
}

.container_4-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container_4-img1 {
    margin-top: 150px;
}

.container_4-img2 {
    margin-top: 70px;
}

.container_4 h1 {
    font-size: 90px;
    text-align: right;
    color: #FFFFFF;
    background: none;
    line-height: 1;
}

.style {
    display: flex;
    margin-top: 30px;
}

.style-container-left {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.style-content {
    text-align: right;
    width: 100%;
}

.style-btn {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
    background: #ebebeb;
    padding: 5px 20px;
    border-radius: 40px;
}

.style-container-center {
    width: 20%;
    margin: 0 100px;
}

.style-container-center img {
    width: 100%;
}

.style-container-right {
    width: 30%;
}

.style-container-right p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 37px;
    color: #292929;
}

.advantages {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.advantages-black {
    background-color: #292929;
    color: #FFFFFF;
    width: 50%;
    padding: 50px 0;
}

.advantages-black-container, .advantages-wight-container {
    display: flex;
    align-items: center;
}

.advantages-black-container img {
    width: 130px;
    height: 80px;
    margin: 0 50px;
}

.advantages-wight-container img {
    width: 130px;
    height: 80px;
    margin: 0 50px;
}

.advantages-wight {
    width: 50%;
    padding: 50px 0;
}

.cart {
    background: url(images/tonmi.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart-btn {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #292929;
    background: #ebebeb;
    padding: 5px 20px;
    border-radius: 40px;
}

.cert-content {
    text-align: right;
}

.product-name {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.product-price {
    font-size: 74px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.product-features {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    padding-top: 50px;
}

.project-img {
    background: url(images/Без\ названия.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
}

.project-content {
    width: 50%;
    text-align: right;
}

.gallery_1_1, .gallery_1_2, .gallery_2, .gallery_2_2-block {
    display: flex;
    background: #292929;
}

.gallery_1_1-img-1, .gallery_2_1 {
    width: 30%;
    padding-right: 5px;
}

.gallery_1_1-img-2, .gallery_2_2 {
    width: 70%;
}

.gallery_1_2 {
    padding-top: 5px;
}

.gallery_1_2-img-1, .gallery_2_2-img-1 {
    width: 50%;
    padding-right: 5px;
}

.gallery_1_2-img-2, .gallery_2_2-img-2 {
    width: 50%;
}

.gallery_2 {
    padding-top: 5px;
}

.gallery_2_1-img {
    width: 100%;
    height: 100%;
}

.gallery_2_2-img-3 {
    width: 100%;
    height: 380px;
    padding-top: 5px;
}

.gallery_3 {
    display: flex;
    padding: 0 80px;
    padding-top: 5px;
    background: #292929;
}

.gallery_3 img {
    width: 50%;
    padding: 0 80px;
}

.savings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.savings-block-1 {
    width: 40%;
}

.savings-block-1 h1 {
    font-size: 80px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 290px;
    margin-top: 130px;
}

.savings-img {

}

.savings-block-2 {
    width: 40%;
    padding: 0 80px;
}

.savings-title {
    font-size: 33px;
}

.savings-desc {
    font-size: 27px;
}


footer {
    background: url(images/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    padding-top: 80px;
}

.footer-h1 {
    background: none;
    padding-left: 0;
    line-height: 1;
}

.footer-btn {
    text-decoration: none;
    font-size: 43px;
    font-weight: 700;
    color: #292929;
    background: #ebebeb;
    padding: 10px 30px;
    border-radius: 20px;
}

.footer-phone {
    text-decoration: none;
    font-size: 51px;
    font-family: 'Poppins';
    font-weight: 700;
    color:#292929;
    padding-top: 50px;
}

.footer-text {
    font-size: 73px;
    margin: 0;
    padding-top: 50px;
}

.footer-text_2 {
    font-size: 38px;
    margin-bottom: 0;
}

/*1366px*/
@media(max-width: 1366px) {
    h1 {
        font-size: 114px;
    }
    .container-title {
        font-size: 114px;
    }
    .container_2 h1 {
        font-size: 80px;
    }
    footer {
        height: 750px;
    }
    .footer-text {
        padding-top: 20px;
    }
    .payment h1 {
        font-size: 100px;
    }
    .payment .payment-desc {
        font-size: 80px;
    }
}

/*1280px*/
@media(max-width: 1280px) {
    .header-img {
        margin-left: -150px;
    }
    h1 {
        font-size: 110px;
    }
    .style-container-center {
        width: 30%;
    }
    .container_4 h1 {
        font-size: 70px;
    }
    .project-content {
        margin-top: -70px;
    }
    .savings-block-2 {
        line-height: 1;
    }
    .savings-title {
        font-size: 30px;
    }
    .savings-desc {
        font-size: 23px;
    }
    .savings-block-1 h1 {
        font-size: 70px;
    }
    .footer-text {
        font-size: 60px;
    }
    footer {
        height: 700px;
    }
}

/*1024px*/
@media(max-width: 1024px) {
    header {
        height: 600px;
    }
    .container-title {
        font-size: 100px;
    }
    h1 {
        font-size: 80px;
    }
    .payment .payment-desc {
        font-size: 70px;
    }
    .container_2 {
        height: 660px;
    }
    .container_2 h1 {
        font-size: 70px;
    }
    .container_3 p {
        font-size: 27px;
    }
    .style-container-right p {
        font-size: 32px;
    }
    .container_4 h1 {
        font-size: 60px;
        margin-left: -130px;
    }
    .project-img {
        height: 370px;
    }
    .savings-block-1 h1 {
        font-size: 50px;
    }
    footer {
        height: 560px;
    }
    .footer-text {
        font-size: 40px;
    }
    .footer-btn {
        font-size: 30px;
    }
}
/*450px*/
@media(max-width: 430px) {
    .header-img {
        margin-left: -91px;
    }
    header {
        height: 300px;
        background-size: 60%;
    }
    .header-container {
        margin-top: 60px;
        margin-left: 10px;
    }
    .header-container img {
        width: 210px;
    }
    .container-title {
        font-size: 22px;
        width: 280px;
    }
    .container {
        height: 380px;
        margin-bottom: 30px;
        background-size: 45%;
    }
    .container-link {
        width: 100%;
    }
    .container-link img {
        width: 25px;
        height: 25px;
    }
    .container-link a {
        font-size: 10px;
    }
    .link-inst {
        padding: 5px 35px 5px 20px !important;
    }
    .cli {
        margin-top: 0;
    }
    .payment {
        padding-top: 80px;
        height: 260px;
    }
    .payment img {
        width: 50px;
        margin-top: 20px;
    }
    h1 {
        font-size: 25px;
    }
    .payment .payment-desc {
        font-size: 21px;
    }
    .payment h1 {
        font-size: 22px;
    }
    .payment p {
        margin-top: 10px;
        font-size: 10px;
        text-align: right;
        padding-right: 10px;
    }
    .container_2 {
        height: 270px;
    }
    .container_2 h1 {
        font-size: 22px;
        text-align: left;
        padding-left: 0;
    }
    .container_2 img {
        width: 50px;
    }
    .container_2 h1 img {
        width: 20px;
    }
    html {
        width: auto;
    }
    h2 {
        font-size: 10px;
        padding-left: 0;
    }
    .style-content {
        padding-top: 30px;
    }
    .style-container-left img {
        width: 50px;
        margin-bottom: -40px;
    }
    .style-container-right p {
        font-size: 10px;
        line-height: 4;
    }
    .style-container-center {
        width: 50%;
        margin: 0 20px;
    }
    .container_3_1 {
        justify-content: flex-start;
        margin-top: -40px;
    }
    .container_3_1_desc_1 {
        margin-left: 30px;
    }
    .container_3 p {
        font-size: 10px;
        margin-top: -10px;
    }
    .container_3_1_desc_2 {
        margin-left: 60px;
    }
    .container_3_1_desc_3 {
        margin-left: 90px;
    }
    .container_3_2 {
        width: 190px;
    }
    .container_3 {
        background-size: 50%;
        margin-top: 50px;
        background-position: left bottom;
        height: 170px;
    }
    .container_4 {
        height: 330px;
        padding: 0 45px;
    }
    .container_4 h1 {
        font-size: 20px;
        margin-left: 0;
        margin-top: 170px;
    }
    .container_4-images {
        width: 50%;
    }
    .container_4-img1 {
        margin-top: 0px;
        width: 320px;
        margin-left: -30px;
    }
    .container_4-img2 {
        width: 50px;
        margin-left: -30px;
        margin-top: 30px;
    }
    .project {
        padding-right: 0;
        padding-top: 0;
    }
    .project-img {
        height: 230px;
        background-size: cover;
    }
    .project-content {
        margin-top: 0px;
        padding-right: 30px;
    }
    .gallery_2_2-img-3 {
        height: 100px;
    }
    .gallery_3 {
        display: none;
    }
    .savings-block-1 h1 {
        font-size: 15px;
        margin-bottom: 170px;
        margin-top: 0;
        padding-top: 50px;
    }
    .savings-img {
        width: 140px;
    }
    .savings-block-2 {
        padding: 0;
        padding-left: 30px;
    }
    .savings-title {
        font-size: 10px;
    }
    .savings-desc {
        font-size: 6px;
    }
    .savings-block-1 img {
        width: 30%;
    }
    footer {
        padding-top: 20px;
        height: 230px;
        padding-left: 30px;
    }
    .footer-h1 {
        font-size: 24px;
    }
    .footer-text {
        font-size: 14px;
        padding-top: 50px;
    }
    .footer-text_2 {
        font-size: 10px;
    }
    .footer-btn {
        font-size: 13px;
        padding: 5px 10px;
    }
}